[submodule "benchmarks/src/cuda/lonestargpu-2.0/benchmarks/src/cuda/lonestargpu-2.0/back40computing"]
	path = benchmarks/src/cuda/lonestargpu-2.0/benchmarks/src/cuda/lonestargpu-2.0/back40computing
	url = https://github.com/blueberry/back40computing.git
